<body>
    <p>NOMBRE: Sánchez Sancán Karla</p>
    <br>
    <p>CURSO: 6to A</p>
    <br>
    <p>DOCENTE: Ing. Jorge Moya</p>
    <br>
    <p class="usu">Link del manual de usuario <button class="manual-usu"><a href="https://drive.google.com/file/d/1Ai66NCa8YRjiyqPLVHVqZkqXQrVrGq43/view?usp=sharing">Manual De Usuario</a></button></p>
    
    
  </body>
  <footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Teléfono</h4>
            <p>0982963152</p>
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <a href="#"> karlamelisan@gmail.com </a>
        </div>
        <div class="content-foo">
            <h4>Lugar</h4>
            <p>Manta - Manabí - Ecuador</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; Sánchez Sancán Karla  </h2>
  </footer>