<div class="col-12">
    <h3 class="letras">UNIVERSIDAD LAICA ELOY ALFARO DE MANABÍ</h3>
    <h4 class="letras">FACCI</h4>
    <nav class="menu">
      <ol>
        <li class="menu-item"><a [routerLink]="['/']">Inicio</a></li>
        
        <li class="menu-item"><a style="cursor:pointer">Estadisticos</a>
          <ol class="sub-menu">
            <li class="menu-item"><a [routerLink]="['/estadisticos']" class="menu-item">Cálculo de datos</a></li>
          </ol>
        </li>
      </ol>
    </nav>
    </div>
    <br><br>  
    <div class="container">
    <router-outlet>
      
    </router-outlet>
    </div>